

    <div class="offcanvas-overlay"></div>

    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-between justify-content-md-between  align-items-center flex-md-row flex-column">
                        <h3 class="breadcrumb-title">Blog Full Width</h3>
                        <div class="breadcrumb-nav">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="blog-grid-sidebar-left.html">Blog</a></li>
                                    <li class="active" aria-current="page">Blog Full Width</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Blog Section:::... -->
    <div class="blog-section">
        <div class="container">
            <div class="row ">
                <div class="col-12">

                    <div class="blog-full-width-wrapper">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Start Blog Grid Single -->
                                <div class="blog-feed-single"  data-aos="fade-up"  data-aos-delay="0">
                                    <a href="blog-single-sidebar-left.html" class="blog-feed-img-link">
                                        <img src="assets/images/blog_images/aments_blog_01.jpg" alt="" class="blog-feed-img">
                                    </a>
                                    <div class="blog-feed-content">
                                        <div class="blog-feed-post-meta">
                                            <span>By:</span>
                                            <a href="" class="blog-feed-post-meta-author">Admin</a> -
                                            <a href="" class="blog-feed-post-meta-date">Sep 14, 2022</a>
                                        </div>
                                        <h5 class="blog-feed-link"><a href="blog-single-sidebar-left.html">Lorem ipsum dolor amet cons adipisicing elit</a></h5>
                                    </div>
                                </div>
                                <!-- End Blog Grid Single -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Start Blog Grid Single -->
                                <div class="blog-feed-single"  data-aos="fade-up"  data-aos-delay="200">
                                    <div class="blog-image-slider">
                                        <img src="assets/images/blog_images/blog-grid-img-3.jpg" alt="">
                                        <img src="assets/images/blog_images/blog-grid-img-2.jpg" alt="">
                                        <img src="assets/images/blog_images/blog-grid-img-1.jpg" alt="">
                                        <img src="assets/images/blog_images/blog-grid-img-4.jpg" alt="">
                                    </div>
                                    <div class="blog-feed-content">
                                        <div class="blog-feed-post-meta">
                                            <span>By:</span>
                                            <a href="" class="blog-feed-post-meta-author">Admin</a> -
                                            <a href="" class="blog-feed-post-meta-date">Sep 14, 2022</a>
                                        </div>
                                        <h5 class="blog-feed-link"><a href="blog-single-sidebar-left.html">Illum animi quo praesentium accusamus debitis</a></h5>
                                    </div>
                                </div>
                                <!-- End Blog Grid Single -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Start Blog Grid Single -->
                                <div class="blog-feed-single"  data-aos="fade-up"  data-aos-delay="400">
                                    <div class="blog-image-video">
                                        <img src="assets/images/blog_images/blog-grid-img-4.jpg" alt="">
                                        <a href="https://youtu.be/MKjhBO2xQzg" class="video-play-btn" data-autoplay="true" data-vbtype="video"><i class="fa fa-play"></i></a>
                                    </div>
                                    <div class="blog-feed-content">
                                        <div class="blog-feed-post-meta">
                                            <span>By:</span>
                                            <a href="" class="blog-feed-post-meta-author">Admin</a> -
                                            <a href="" class="blog-feed-post-meta-date">Sep 14, 2022</a>
                                        </div>
                                        <h5 class="blog-feed-link"><a href="blog-single-sidebar-left.html">Repellendus repudiandae aliquid dolores unde</a></h5>
                                    </div>
                                </div> <!-- End Blog Grid Single -->
                            </div>

                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Start Blog Grid Single -->
                                <div class="blog-feed-single"  data-aos="fade-up"  data-aos-delay="0">
                                    <div class="blog-image-slider">
                                        <img src="assets/images/blog_images/blog-grid-img-4.jpg" alt="">
                                        <img src="assets/images/blog_images/blog-grid-img-2.jpg" alt="">
                                        <img src="assets/images/blog_images/blog-grid-img-1.jpg" alt="">
                                        <img src="assets/images/blog_images/blog-grid-img-3.jpg" alt="">
                                    </div>
                                    <div class="blog-feed-content">
                                        <div class="blog-feed-post-meta">
                                            <span>By:</span>
                                            <a href="" class="blog-feed-post-meta-author">Admin</a> -
                                            <a href="" class="blog-feed-post-meta-date">Sep 14, 2022</a>
                                        </div>
                                        <h5 class="blog-feed-link"><a href="blog-single-sidebar-left.html">Blanditiis mollitia laboriosam quas pariatur nesciunt</a></h5>
                                    </div>
                                </div>
                                <!-- End Blog Grid Single -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Start Blog Grid Single -->
                                <div class="blog-feed-single"  data-aos="fade-up"  data-aos-delay="200">
                                    <div class="blog-image-video">
                                        <img src="assets/images/blog_images/blog-grid-img-2.jpg" alt="">
                                        <a href="https://youtu.be/MKjhBO2xQzg" class="video-play-btn" data-autoplay="true" data-vbtype="video"><i class="fa fa-play"></i></a>
                                    </div>
                                    <div class="blog-feed-content">
                                        <div class="blog-feed-post-meta">
                                            <span>By:</span>
                                            <a href="" class="blog-feed-post-meta-author">Admin</a> -
                                            <a href="" class="blog-feed-post-meta-date">Sep 14, 2022</a>
                                        </div>
                                        <h5 class="blog-feed-link"><a href="blog-single-sidebar-left.html">Molestiae impedit voluptatem accusantium magni veritatis</a></h5>
                                    </div>
                                </div> <!-- End Blog Grid Single -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Start Blog Grid Single -->
                                <div class="blog-feed-single"  data-aos="fade-up"  data-aos-delay="400">
                                    <a href="blog-single-sidebar-left.html" class="blog-feed-img-link">
                                        <img src="assets/images/blog_images/aments_blog_03.jpg" alt="" class="blog-feed-img">
                                    </a>
                                    <div class="blog-feed-content">
                                        <div class="blog-feed-post-meta">
                                            <span>By:</span>
                                            <a href="" class="blog-feed-post-meta-author">Admin</a> -
                                            <a href="" class="blog-feed-post-meta-date">Sep 14, 2022</a>
                                        </div>
                                        <h5 class="blog-feed-link"><a href="blog-single-sidebar-left.html">Iusto nostrum ratione quasi omnis harum modi facilis</a></h5>
                                    </div>
                                </div>
                                <!-- End Blog Grid Single -->
                            </div>

                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Start Blog Grid Single -->
                                <div class="blog-feed-single"  data-aos="fade-up"  data-aos-delay="0">
                                    <a href="blog-single-sidebar-left.html" class="blog-feed-img-link">
                                        <img src="assets/images/blog_images/aments_blog_02.jpg" alt="" class="blog-feed-img">
                                    </a>
                                    <div class="blog-feed-content">
                                        <div class="blog-feed-post-meta">
                                            <span>By:</span>
                                            <a href="" class="blog-feed-post-meta-author">Admin</a> -
                                            <a href="" class="blog-feed-post-meta-date">Sep 14, 2022</a>
                                        </div>
                                        <h5 class="blog-feed-link"><a href="blog-single-sidebar-left.html">Non recusandae incidunt enim, laboriosam consectetur illum.</a></h5>
                                    </div>
                                </div>
                                <!-- End Blog Grid Single -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Start Blog Grid Single -->
                                <div class="blog-feed-single"  data-aos="fade-up"  data-aos-delay="200">
                                    <div class="blog-image-video">
                                        <img src="assets/images/blog_images/blog-grid-img-3.jpg" alt="">
                                        <a href="https://youtu.be/MKjhBO2xQzg" class="video-play-btn" data-autoplay="true" data-vbtype="video"><i class="fa fa-play"></i></a>
                                    </div>
                                    <div class="blog-feed-content">
                                        <div class="blog-feed-post-meta">
                                            <span>By:</span>
                                            <a href="" class="blog-feed-post-meta-author">Admin</a> -
                                            <a href="" class="blog-feed-post-meta-date">Sep 14, 2022</a>
                                        </div>
                                        <h5 class="blog-feed-link"><a href="blog-single-sidebar-left.html">Amet consectetur adipisicing elit.</a></h5>
                                    </div>
                                </div> <!-- End Blog Grid Single -->
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Start Blog Grid Single -->
                                <div class="blog-feed-single"  data-aos="fade-up"  data-aos-delay="400">
                                    <div class="blog-image-slider">
                                        <img src="assets/images/blog_images/blog-grid-img-1.jpg" alt="">
                                        <img src="assets/images/blog_images/blog-grid-img-2.jpg" alt="">
                                        <img src="assets/images/blog_images/blog-grid-img-3.jpg" alt="">
                                        <img src="assets/images/blog_images/blog-grid-img-4.jpg" alt="">
                                    </div>
                                    <div class="blog-feed-content">
                                        <div class="blog-feed-post-meta">
                                            <span>By:</span>
                                            <a href="" class="blog-feed-post-meta-author">Admin</a> -
                                            <a href="" class="blog-feed-post-meta-date">Sep 14, 2022</a>
                                        </div>
                                        <h5 class="blog-feed-link"><a href="blog-single-sidebar-left.html">Lorem ipsum dolor amet cons adipisicing elit</a></h5>
                                    </div>
                                </div>
                                <!-- End Blog Grid Single -->
                            </div>
                        </div>
                    </div>

                    <!-- Start Pagination -->
                    <div class="page-pagination text-center"  data-aos="fade-up"  data-aos-delay="0">
                        <ul>
                            <li><a href="#">Previous</a></li>
                            <li><a class="active" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </div> <!-- End Pagination -->
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Blog Section:::... -->

   



</body>

</html>
